@use 'src/styles/vars';

.walks_to_come {
  min-height: 100vh;

  .walks_to_come_title {
    text-align: center;
    color: vars.$darkRed;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;

    @media(min-width: vars.$breakpointTablet) {
      font-size: 3rem;
    }

    @media(min-width: vars.$breakpointDesktop) {
      font-size: 4rem;
    }
  }

  .walks_to_come_list {

    @media(min-width: vars.$breakpointTablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

      .walk_to_come_small {
        min-height: 280px;
        text-align: center;
        border: 1px solid black;
        border-radius: 10px;
        padding: 1rem;
        margin : 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
  
        @media(min-width: vars.$breakpointTablet) {
          width: 45%;
        }
  
        @media(min-width: vars.$breakpointXLarge) {
          width: 29%;
        }
  
        .walk_to_come_title {
          font-size: 1.3rem;
          color: vars.$darkYellow;
          padding: 0.5rem;
        }
  
        .walk_to_come_date {
          font-style: italic;
          color: vars.$regularGreen;
          padding: 0.5rem;   
        }
  
        .walk_to_come_area {
          color: vars.$regularRed;
          font-weight: bold;
          padding: 0.5rem;
        }
  
        .walk_to_come_difficulty {
          padding: 0.5rem;
        }
  
        .walk_to_come_duration {
          padding: 0.5rem;
        }
  
        .walk_to_come_button_more_infos {
          padding: 0.5rem;
          margin: auto;
          background-color: vars.$regularYellow;
          border: none;
          border-radius: 10px;
          min-width: 60%;
          margin-bottom: 0.5rem;

          &:hover {
            background-color: vars.$darkYellow;
            transform: scale(1.1);
          }
        }

        .walk_to_come_button_delete {
          padding: 0.5rem;
          background-color: vars.$regularRed;
          border: none;
          border-radius: 10px;
          min-width: 60%;
          margin: auto;
          
          &:hover {
            background-color: vars.$darkRed;
            transform: scale(1.1);
          }
        }
      }
  }
}
