 @use 'src/styles/vars';


.mobilenav {
  position:fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: vars.$darkGreen;
  padding: 1rem 0 1rem 0;
  color: vars.$darkYellow;

  @media(min-width: vars.$breakpointTablet) {
    display: none;
  }

  .mobilenav_home_content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .mobilenav_home {
      max-width: 50px;
      align-self: center;
      display: block;
      
    }

    .mobilenav_home_text {
      align-self: center;
      display: block;
    }

  }
  

  .mobilenav_create_content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .mobilenav_create {
      align-self: center;
      display: block;
      max-width: 50px;
       
    }

    .mobilenav_create_text {
      align-self: center;
      display: block;
    }

  }
  

  .mobilenav_login_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    .mobilenav_login {
      align-self: center;
      display: block;
      width: 50px;
  
    }
    .mobilenav_login_text {
      align-self: center;
      display: block;
    }
  }
  
  .mobilenav_connected_content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .mobilenav_connected {
      align-self: center;
      display: block;
      max-width: 50px;
    }

    .mobilenav_connected_text {
      align-self: center;
      display: block;
    }

  }
  

  .mobilenav_logout_content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .mobilenav_logout {
      align-self: center;
      display: block;
      max-width: 50px;
      
    }

    .mobilenav_logout_text {
      align-self: center;
      display: block;

    }
  }
  
}
