@use 'src/styles/vars';


.mobilenav {
  position:fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: vars.$darkGreen;
  padding: 1rem 0 1rem 0;

  @media(min-width: vars.$breakpointTablet) {
    display: none;
  }

  .mobilenav_home {
    max-width: 60px;
    
  }

  .mobilenav_create {
    max-width: 50px;
    margin-top: 8.5px;
  }

  .mobilenav_login {
    margin-top: 8px;
    max-width: 50px;
  }
  .mobilenav_connected {
    margin-top: 8px;
    max-width: 50px;
  }

  .mobilenav_logout {
    border: none;
    background-color: vars.$darkGreen;
    color: vars.$darkYellow;
    margin-top: 8px;
  }
}
