@use 'src/styles/vars';

.profile {
  background-color: vars.$lightRed;
  min-height: 100vh;

  .profil_back_account {
    display: inline-block;
    margin-left: 350px;
    font-size: 1.7rem ;
    border: 2px solid vars.$darkRed;
    background: linear-gradient(to bottom right, vars.$darkRed, vars.$regularRed);
    color: white;
    border-radius: 10px;
    padding: 0.5rem 0.2rem 0.5rem 0.2rem;
    margin-top: 10px;
    &:hover{
      box-shadow: 0 0 20px vars.$regularRed;
    }

  }

  .profile_title {
    text-align: center;
    margin: 30px 50px 50px 50px;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 0.5rem 0 0.5rem 0;
    border: 2px solid vars.$darkRed;
    background: linear-gradient(to bottom right, vars.$darkRed, vars.$regularRed);
    border-radius: 10px;
  }

  .profile_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.3rem;
    
    .profile_picture {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: block;
      margin: auto;
    }
    
    .profile_pseudo {
      margin: 20px 50px 20px 50px;
      font-size: 1.7rem;
      padding: 0.5rem 0 0.5rem 0;
      border: 2px solid vars.$lightRed;
      border-radius: 10px;
      box-shadow: 1px 1px 1px vars.$regularRed;
      
    }
  
    .profile_fistname {
      margin: 20px 50px 20px 50px;
      font-size: 1.7rem;
      padding: 0.5rem 0 0.5rem 0;
      border: 2px solid vars.$lightRed;
      border-radius: 10px;
      box-shadow: 1px 1px 1px vars.$regularRed;
  
    }
  
    .profile_lastname {
      margin: 20px 50px 20px 50px;
      font-size: 1.7rem;
      padding: 0.5rem 0 0.5rem 0;
      border: 2px solid vars.$lightRed;
      border-radius: 10px;
      box-shadow: 1px 1px 1px vars.$regularRed;
      
    }
  
    .profile_date_of_birth {
      margin: 20px 50px 20px 50px;
      font-size: 1.7rem;
      padding: 0.5rem 0 0.5rem 0;
      border: 2px solid vars.$lightRed;
      border-radius: 10px;
      box-shadow: 1px 1px 1px vars.$regularRed;
      
    }
  
    .profile_email { 
      margin: 20px 50px 20px 50px;
      font-size: 1.7rem;
      padding: 0.5rem 0 0.5rem 0;
      border: 2px solid vars.$lightRed;
      border-radius: 10px;
      box-shadow: 1px 1px 1px vars.$regularRed;
      
    }
  
    .profile_area {
      margin: 20px 50px 20px 50px;
      font-size: 1.7rem;
      padding: 0.5rem 0 0.5rem 0;
      border: 2px solid vars.$lightRed;
      border-radius: 10px;
      box-shadow: 1px 1px 1px vars.$regularRed;
      
    }
  
    

    .profile_description {
      margin: 20px 50px 20px 50px;
      font-size: 1.7rem;
      padding: 0.5rem 0 0.5rem 0;
      border: 2px solid vars.$lightRed;
      border-radius: 10px;
      box-shadow: 1px 1px 1px vars.$regularRed;
      
    }
  }

  
}
