@use 'src/styles/vars';

.profile {
  background: linear-gradient(#fee5e3, #fff);
  margin-top: -15px;
  min-height: 100vh;

  .profile_return_account {
    width: 90px;
    padding: 15px;
    transform: rotateY(180deg);
  }

  .profile_title_container {
    width: 70%;
    margin: 50px auto;
    padding: 25px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    background: linear-gradient(to bottom right, vars.$darkRed, #f29991);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media(min-width: vars.$breakpointTablet) {
      font-size: 2.5em;
     
    }
  
    @media(min-width: vars.$breakpointDesktop) {
      font-size: 2.5em;
      
    }

    .profile_icon {
      width: 60px;
    }

    .profile_title {

    }
  }

  .profile_container {
    
    

    .profile_picture {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      box-shadow: 0px 10px 20px grey;
      display: block;
      margin: 20px auto;
    }
    .profile_avatar {
      width: 150px;
      border-radius: 50%;
      box-shadow: 0px 10px 20px grey;
      display: block;
      margin: 20px auto;
    }
    
    .profile_container_informations {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 60%;

      .profile_pseudo {
        display: block;
        border-radius: 10px;
        background: linear-gradient(to bottom right, vars.$darkYellow, vars.$gradientYellow);
        box-shadow: 0px 10px 20px grey;
        padding: 10px;
        margin: 20px 0;
        display: flex;
        justify-content: center;
        font-size: 1.3em;
        color: vars.$blackRed;
        

        @media(min-width: vars.$breakpointTablet) {
          font-size: 2em;
         
        }
      
        @media(min-width: vars.$breakpointDesktop) {
          font-size: 2em;
          
        }
      }
    }
    
  }

  .profile_udpate_button {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem auto;
    border: none;
    border-radius: 10px;
    background-color: vars.$regularGreen;
    padding: 10px;

    
    


    .profile_update_button_text {
      font-size: 1.3em;
      color: vars.$blackRed;
    }

    @media(min-width: vars.$breakpointTablet) {
      font-size: 1.8em;
     
    }

    .profile_update_button_icon {
      width: 40px;
    }


  
  }
}
