@use 'src/styles/vars';


.about_us {
  background: linear-gradient(#fee5e3, #fff);
  margin: -15px;
  min-height: 100vh;

  

  .about_us_title {
    text-align: center;
    font-size: 3rem;
    color: vars.$darkRed;
    padding: 2rem;
  }

  .about_us_team {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;

    @media(min-width: vars.$breakpointTablet) {
      width: 29%;
      
    }

    @media(min-width: vars.$breakpointXLarge) {
      flex-wrap: nowrap;
    }


    .about_us_person {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background: linear-gradient(to bottom right, vars.$darkYellow, #fbc46d);
      margin: 0.5rem;
      border-radius: 20px;
      color: vars.$blackRed;

      .about_us_role {
        padding: 1rem;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
      }

      .about_us_name {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
      }
  
      .about_us_image {
        height: 240px;
        width: 240px;
        border-radius: 50px;
        padding: 1rem;
      }
    
      .about_us_text{
        padding: 1rem;
        font-size: 1.5rem;
        text-align: justify;
      }
    } 
  }
}
