@use 'src/styles/vars';

.createWalk {
  background: linear-gradient(vars.$lightYellow, white);
  margin-top: -3px;
  min-height: 100vh;
  color: vars.$blackRed;

  .createWalk_title {
    background: linear-gradient(to bottom right, vars.$regularGreen, vars.$darkGreen);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    width: 90%;

    @media(min-width: vars.$breakpointDesktop) {
      width: 60%;
    }

    .createWalk_create_logo {
      width: 50px;
    }

    .createWalk_title_text {
      color: white;
      font-weight: bold;
      padding: 0.5rem;
      font-size: 2rem;
    }
  }

  .createWalk_asterisk {
    padding: 0.5rem;
    display: block;
    margin: 0 auto 1rem auto;
    width: 90%;

    @media(min-width: vars.$breakpointTablet) {
      width: 60%;
    }
  
  }

  .createWalk_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .createWalk_area {
      width: 100%; 
      margin-bottom: 1rem;
    }

    .createWalk_tag {
      margin: 0 auto 1rem auto;
      width: 90%;

      @media(min-width: vars.$breakpointTablet) {
        width: 60%;
      }

      .createWalk_tag_title {
        padding-bottom: 1rem;
      }

      .createWalk_tag_list {
        display: flex;
        flex-wrap: wrap;

        .createWalk_tag_label {
          width: 100%;
          padding: 0.2rem 0rem;
        }
      }
    }

    .createWalk_difficulty {
      width: 100%;
    }

    .createWalk_duration {
      width: 100%;
    }

    .createWalk_submit {
      width: 90%;
      color: white;
      font-weight: bold;
      padding: 1rem;
      margin: 1rem 0rem;
      border: none;
      border-radius: 10px;
      background: linear-gradient(to bottom right, vars.$regularYellow, vars.$darkYellow);

      @media(min-width: vars.$breakpointTablet) {
        width: 60%;
      }

      &:hover {
        box-shadow: 5px 5px 5px vars.$darkYellow;
        transform: scale(1.1);
      }
    }
  }
}
