@use 'src/styles/vars';

.createWalk {
  color: vars.$blackRed;
  margin: 1rem;

  .createWalk_title {
    background: linear-gradient(to bottom right, vars.$regularGreen, vars.$darkGreen);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;


    .createWalk_create_logo {
      width: 50px;
    }

    .createWalk_title_text {
      color: white;
      font-weight: bold;
      padding: 0.5rem;
      font-size: 2rem;
    }
  }

  .createWalk_asterisk {
    padding: 0.5rem;
  }

  .createWalk_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .createWalk_area {
      width: 90%; 
      margin-bottom: 1rem;

      .createWalk_area_label {
        padding-bottom: 1rem;
      }

      .createWalk_area_select {

      }
    }

    .createWalk_tag {
      width: 90%;

      .createWalk_tag_label {
        padding-bottom: 1rem;
      }

      .createWalk_tag_select {

      }
    }

    .createWalk_date {
      width: 90%;
      margin-bottom: 1rem;
   
      .createWalk_date_label {
        padding-bottom: 1rem;
      }

      .createWalk_date_select {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        .createWalk_day {
          width: 25%;
        }
  
        .createWalk_month {
          margin: 0rem 0.5rem;
          width: 50%;
        }
  
        .createWalk_year {
          width: 25%;
        }
      }
    }

    .createWalk_hour {
      width: 90%;
     

      .createWalk_hour_label {
      
      }
      
      .createWalk_hour_select {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        .createWalk_hours {
          width: 50%;
          margin-right: 0.5rem;
        }
  
        .createWalk_minutes {
          width: 50%;
        }
      }  
    }

    .createWalk_difficulty {
      width: 90%;

      .createWalk_difficulty_label {
        padding-bottom: 1rem;
      }

      .createWalk_difficulty_select {

      }
    }

    .createWalk_submit {
      color: white;
      font-weight: bold;
      padding: 1rem;
      border: none;
      border-radius: 10px;
      background: linear-gradient(to bottom right, vars.$regularYellow, vars.$darkYellow);

      &:hover {
        box-shadow: 5px 5px 5px vars.$darkYellow;
        transform: scale(1.1);
      }
    }
  }
}
