$darkRed: #E1645F;
$regularRed: #FD827D;
$lightRed: #FDF6F5;
$gradientRed: #f29991;

$darkGreen: #678E62;
$regularGreen: #8C9F75;
$lightGreen: #ebeee7;

$darkYellow: #EDA80A;
$regularYellow: #FFCF34;
$lightYellow: #FEFAF0;
$gradientYellow: #FBC46D;
$blackYellow: #c28a13;

$breakpointTablet: 768px;
$breakpointDesktop: 960px;
$breakpointXLarge: 1260px;

$blackRed: #6b3431;



