$darkRed: #E1645F;
$regularRed: #FD827D;
$lightRed: #FDF6F5;

$darkGreen: #678E62;
$regularGreen: #8C9F75;

$darkYellow: #EDA80A;
$regularYellow: #FFCF34;
$lightYellow: #FEFAF0;

$breakpointTablet: 768px;
$breakpointDesktop: 960px;
$breakpointXLarge: 1260px;

$blackRed: #6b3431;
$gradientYellow: #fbc46d;
$blackYellow: #c28a13;
$gradientRed: #f29991;
