@use 'src/styles/vars';


.account {
  background: linear-gradient(#fee5e3, #fff);
  margin: -15px;
  min-height: 100vh;

  .account_return {
    width: 90px;
    padding: 15px;
    transform: rotateY(180deg);
  }

  .account_title_margin {
    margin: 0 50px 50px 0;
    padding: 25px;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    background: linear-gradient(to bottom right, vars.$darkRed, #f29991);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media(min-width: vars.$breakpointTablet) {
      margin: 0 150px 50px 0;
    }
  
    @media(min-width: vars.$breakpointDesktop) {
      margin: 0 300px 50px 0;
    }

    .account_title {
      
    }

    .account_bee {
      width: 60px;
      
      
    }
  }

  .account_container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 20px auto;
    
    flex-direction: column;

    .account_profil {
      text-align: 20px center;
      font-size: 2rem;
      padding: 4rem;
      background: linear-gradient(to bottom right, vars.$darkGreen, #98b394);
      color: white;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .account_profil_icon {
        width: 60px;
      }
      .account_profil_title {

      }
    }

    .account_incomingwalks {
      text-align: center;
      font-size: 2rem;
      padding: 4rem;
      background: linear-gradient(to bottom right, vars.$darkYellow, #fbc46d);
      color: white;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .account_incomingwalks_icon {
        width: 60px;
      }
      .account_incomingwalks_title {

      }
    }

    .account_myhikes {
      text-align: center;
      font-size: 2rem;
      padding: 4rem;
      background: linear-gradient(to bottom right, vars.$darkRed, #f29991);
      color: white;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .account_myhikes_icon {
        width: 60px;
      }
      .account_myhikes_title {

      }
    }

    .account_archived {
      text-align: center;
      font-size: 2rem;
      padding: 4rem;
      background: linear-gradient(to bottom right, vars.$darkYellow, #fbc46d);
      color: white;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .account_archived_icon {
        width: 60px;
      }
      .account_archived_title {

      }
    }
  }
}
