@use 'src/styles/vars';

.account {
  background-color: vars.$lightYellow;
  min-height: 100vh;
  
  .account_title {
    text-align: center;
    margin: 50px 50px 50px 50px;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 0.5rem 0 0.5rem 0;
    border: 2px solid vars.$darkRed;
    background: linear-gradient(to bottom right, vars.$darkRed, vars.$regularRed);
    border-radius: 10px;
  }

  .account_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;

    .account_profil {
      text-align: center;
      font-size: 2rem;
      margin: 20px 50px 20px 50px;
      padding: 4rem;
      background: linear-gradient(to bottom right, vars.$darkGreen, vars.$regularGreen);
      color: white;
      border: 1px solid vars.$darkGreen;
      border-radius: 10px;
    }

    .account_incomingwalks {
      text-align: center;
      font-size: 2rem;
      margin: 20px 50px 20px 50px;
      padding: 4rem;
      background: linear-gradient(to bottom right, vars.$darkYellow, vars.$regularYellow);
      color: white;
      border: 1px solid vars.$darkYellow;
      border-radius: 10px;
    }

    .account_myhikes {
      text-align: center;
      font-size: 2rem;
      margin: 20px 50px 20px 50px;
      padding: 4rem;
      background: linear-gradient(to bottom right, vars.$darkRed, vars.$regularRed);
      color: white;
      border: 1px solid vars.$darkRed;
      border-radius: 10px;
    }
  }
}
