@use 'src/styles/vars';

.home2 {

  .home2_title {
    text-align: center;
    color: vars.$darkRed;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;

    @media(min-width: vars.$breakpointTablet) {
      font-size: 3rem;
    }

    @media(min-width: vars.$breakpointDesktop) {
      font-size: 4rem;
    }
  }

  .home_areas_list {

    @media(min-width: vars.$breakpointTablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .home_area {
      text-align: center;
      border: 1px solid black;
      border-radius: 10px;
      margin : 1rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      background-color: vars.$lightYellow;

      @media(min-width: vars.$breakpointTablet) {
        width: 45%;
      }

      @media(min-width: vars.$breakpointXLarge) {
        width: 29%;
      }

      .home_area_name {
        font-size: 1.3rem;
        padding: 1rem;
        color: vars.$darkGreen;
        font-weight: bold;
        
      }

      .home_area_walks {
      color: vars.$regularRed;
      padding-top: 1rem;
      padding-bottom: 1rem;

      &:hover {
        color: vars.$darkRed;
        font-weight: bold;
        transform: scale(1.2);
      }
      }
    }
  }

  .home2_resume {
    margin: 1rem;
    text-align: justify;
  }

  .home2_end {
    text-align: center;

    .home2_go {
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: bold;
      color: vars.$darkRed;
      animation-duration: 1s;
      animation-name: flash;
      animation-iteration-count: infinite;
      transition: none;

      @keyframes flash {
        0%   { opacity:1; }
        50%   {opacity:0; }
        100% { opacity:1; }
       }
    }

    .home2_button {
      padding: 1rem;
      background-color: vars.$regularRed;
      border: none;
      border-radius: 10px;

      &:hover {
        background-color: vars.$darkRed;
        transform: scale(1.5);
      }
    }
  }
}


