@use 'src/styles/vars';

.home2 {

  .home2_title {
    text-align: center;
    color: vars.$darkRed;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;

    @media(min-width: vars.$breakpointTablet) {
      font-size: 3rem;
    }

    @media(min-width: vars.$breakpointDesktop) {
      font-size: 4rem;
    }
  }

  .home_areas_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    .areasmall {
      width: 45%;
      height: 150px;
      text-align: center;
      border: 1px solid vars.$darkGreen;
      border-radius: 50%;
      margin : 0.5rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      background-color: vars.$lightYellow;

      &:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px 5px vars.$darkGreen;
      }

      @media(min-width: vars.$breakpointTablet) {
        width: 29%;
        height: 210px;
      }

      @media(min-width: vars.$breakpointDesktop) {
        width: 18%;
        height: 210px;
      }

      @media(min-width: vars.$breakpointXLarge) {
        width: 15%;
        height: 240px;
      }

      .areasmall_list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        .home_area_name {
          font-size: 1.3rem;
          padding: 1rem;
          color: vars.$darkGreen;
          font-weight: bold;
        }
  
        .home_area_noWalk {
          text-align: center;
          color: vars.$regularGreen;
        }
        
        .home_area_number {
          font-size: 1.3rem;
          text-align: center;
          color: white;
          font-weight: bold; 
          border-radius: 50%;
          background-color: vars.$regularRed;
          padding: 8px;
          width: 36px;
          height: 36px;
        }
      }
      
      .home_area_walks {
      color: vars.$regularRed;
      padding-top: 1rem;
      padding-bottom: 1rem;
      }
    }
  }

  .home2_resume {
    margin: 1rem;
    text-align: justify;
  }

  .home2_end {
    text-align: center;

    .home2_go {
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: bold;
      color: vars.$darkRed;
      animation-duration: 1s;
      animation-name: flash;
      animation-iteration-count: infinite;
      transition: none;

      @keyframes flash {
        0%   { opacity:1; }
        50%   {opacity:0; }
        100% { opacity:1; }
       }
    }

    .home2_button {
      padding: 1rem;
      background-color: vars.$regularRed;
      color: white;
      border: none;
      border-radius: 10px;

      &:hover {
        background-color: vars.$darkRed;
        transform: scale(1.5);
      }
    }
  }
}


