@use 'src/styles/vars';

.home2 {
  background: linear-gradient(vars.$lightYellow, white);
  margin-top: -15px;
  min-height: 100vh;

  .home2_title {
    text-align: center;
    color: vars.$darkRed;
    font-size: 2rem;
    font-weight: bold;
    padding: 3rem;

    @media(min-width: vars.$breakpointTablet) {
      font-size: 3rem;
    }

    @media(min-width: vars.$breakpointDesktop) {
      font-size: 4rem;
    }
  }

  .home_areas_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    .areasmall {
      width: 41%;
      min-height: 150px;
      text-align: center;
      border-radius: 30px;
      padding: 1rem;
      margin : 1rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;

      @media(min-width: vars.$breakpointTablet) {
        width: 29%;
        min-height: 200px; 
      }

      @media(min-width: vars.$breakpointDesktop) {
        width: 18%;
      }

      @media(min-width: vars.$breakpointXLarge) {
        width: 15%;
        min-height: 220px;;        
      }

      .home_area_name {
        font-size: 1.3rem;
        padding-bottom: 0.5rem;
        color: white;
        font-weight: bold;
      }
  
      .home_area_noWalk {
        text-align: center;
        color: white;
        font-style: italic;
      }
        
      .home_area_number {
        text-align: center;
        border-radius: 10px;
        background-color: white;
        padding: 0.2rem;
        color: vars.$darkRed;
        font-weight: bold; 
        animation-duration: 2s;
        animation-name: flash;
        animation-iteration-count: infinite;
        transition: none;

      @keyframes flash {
        0%   { opacity:1; }
        50%   {opacity:0; }
        100% { opacity:1; }
       }
      }
    }

    .areasmall_yellow {
      background: linear-gradient(to bottom right, vars.$darkYellow, #fbc46d);

      &:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px 5px vars.$darkYellow;
      }
    }

    .areasmall_red {
      background: linear-gradient(to bottom right, vars.$darkRed, #f29991);

      &:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px 5px vars.$darkRed;
      }
    }

    .areasmall_green {
      background: linear-gradient(to bottom right, vars.$darkGreen, #98b394);

      &:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px 5px vars.$darkGreen;
      }
    }
  }

  .home2_resume {
    margin: 1rem;
    padding: 1rem;
    text-align: justify;
    color: vars.$blackRed;
  }

  .home2_end {
    text-align: center;

    .home2_go {
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: bold;
      color: vars.$darkYellow;
      animation-duration: 1s;
      animation-name: flash;
      animation-iteration-count: infinite;
      transition: none;

      @keyframes flash {
        0%   { opacity:1; }
        50%   {opacity:0; }
        100% { opacity:1; }
       }
    }

    .home2_button {
      padding: 1rem;
      background-color: vars.$regularGreen;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 10px;
      width: 90%;
      font-size: 1.1rem;

      &:hover {
        box-shadow: 5px 5px 5px vars.$darkGreen;
        transform: scale(1.1);
      }

      @media(min-width: vars.$breakpointDesktop) {
        width: 60%;
      }
    }
  }
}


