@use 'src/styles/vars';

.walks_user {
  background: linear-gradient(#fee5e3, #fff);
  margin: -15px;
  min-height: 100vh;
  padding: 15px;

  .walks_user_return_account {
    width: 90px;
    padding: 15px;
    transform: rotateY(180deg);
  }

  .walks_user_title_content {
    text-align: center;
    color: vars.$darkRed;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;

    .walks_user_icon {
      width: 50px;

      @media(min-width: vars.$breakpointTablet) {
        width: 80px;
      }
    }
    .walks_user_title {
      
  
      
    }
    @media(min-width: vars.$breakpointTablet) {
      font-size: 3rem;
    }

    @media(min-width: vars.$breakpointDesktop) {
      font-size: 4rem;
    }
  }
  

  .walks_user_list {

    @media(min-width: vars.$breakpointTablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

      .walk_small {
        text-align: center;
        background: linear-gradient(to bottom right, vars.$darkRed, vars.$gradientRed);
        border-radius: 10px;
        padding: 1rem;
        margin : 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
  
        @media(min-width: vars.$breakpointTablet) {
          width: 45%;
        }
  
        @media(min-width: vars.$breakpointXLarge) {
          width: 29%;
        }
  
        .walk_title {
          font-size: 1.7rem;
          color: white;
          padding: 0.5rem;
          font-weight: bold;
        }
  
        .walk_date {
          font-style: italic;
          color: vars.$darkGreen;
          padding: 0.5rem;   
        }
  
        .walk_area {
          color: white;
          font-weight: bold;
          padding: 0.5rem;
        }
  
        .walk_difficulty {
          padding: 0.5rem;
          color: vars.$blackRed;
        }
  
        .walk_duration {
          padding: 0.5rem;
          color: vars.$blackRed;
        }
  
        .walk_button_more_infos {
          padding: 0.5rem;
          margin-bottom: 0.5rem;
          color: vars.$blackRed;
          background-color: vars.$regularYellow;
          border: none;
          border-radius: 10px;
          min-width: 60%;

          &:hover {
            box-shadow: 5px 5px 5px vars.$darkYellow;
            transform: scale(1.1);
          }
        }

        .walk_button_attendees {
          padding: 0.5rem;
          margin-bottom: 0.5rem;
          color: vars.$blackRed;
          background-color: vars.$regularGreen;
          border: none;
          border-radius: 10px;
          min-width: 60%;
          
          &:hover {
            box-shadow: 5px 5px 5px vars.$darkGreen;
            transform: scale(1.1);
          }
        }

        .walk_button_delete {
            padding: 0.5rem;
            background-color: vars.$regularRed;
            color: vars.$blackRed;
            border: none;
            border-radius: 10px;
            min-width: 60%;
            
            &:hover {
              box-shadow: 5px 5px 5px vars.$darkRed;
              transform: scale(1.1);
            }
          }
        }
      }
  }

