@use 'src/styles/vars';

.area {
  background-color: vars.$lightYellow;
  
  .area_name {
      text-align: center;
      color: vars.$darkRed;
      font-size: 2rem;
      font-weight: bold;
      padding: 1rem;
      
  
      @media(min-width: vars.$breakpointTablet) {
        font-size: 3rem;
      }
  
      @media(min-width: vars.$breakpointDesktop) {
        font-size: 4rem;
      }
  }

  .area_walks {
      text-align: center;
      color: vars.$regularRed;
      font-size: 1.2rem;
      padding: 1rem;
  
      @media(min-width: vars.$breakpointTablet) {
        font-size: 2.2rem;
      }
  
      @media(min-width: vars.$breakpointDesktop) {
        font-size: 3.2rem;
      }

      .area_add_walk_button {
        padding: 1rem;
      background-color: vars.$regularRed;
      color: white;
      border: none;
      border-radius: 10px;

      &:hover {
        background-color: vars.$darkRed;
        transform: scale(1.5);
      }
      }

      .area_numberOfWalks {
        font-weight: bold;
      }
  }
  
  .area_walks_list {

    @media(min-width: vars.$breakpointTablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .area_walk_small {
      text-align: center;
      border-radius: 10px;
      padding: 1rem;
      margin : 1rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      background :linear-gradient(to bottom right, vars.$darkYellow, #fbc46d);

      @media(min-width: vars.$breakpointTablet) {
        width: 45%;
      }

      @media(min-width: vars.$breakpointXLarge) {
        width: 29%;
      }

      .area_walk_title {
        font-size: 1.7rem;
        font-weight: bold;
        color: white;
        padding: 0.5rem;
      }

      .area_walk_date {
        font-style: italic;
        font-weight: bold;
        color: vars.$darkGreen;
        padding: 0.5rem;   
      }

      .area_walk_difficulty {
        padding: 0.5rem;
        color: #6B3431;
        font-weight: bold;
      }

      .area_walk_duration {
        padding: 0.5rem;
        color: #6B3431;
        font-weight: bold;
      }

      .area_walk_more_infos {
        background-color: #da9f41;
        border-radius: 10%;
        padding: 0.5rem;
        margin-left: 80px;
        margin-right: 80px;
        color: #6B3431;
        font-weight: bold;
        
        &:hover {
          color: #6B3431;
          font-weight: bold;
          transform: scale(1.2);
        }
      }
    }
  }
}
