@use 'src/styles/vars';

.area {

  .area_name {
      text-align: center;
      color: vars.$darkRed;
      font-size: 2rem;
      font-weight: bold;
      padding: 1rem;
  
      @media(min-width: vars.$breakpointTablet) {
        font-size: 3rem;
      }
  
      @media(min-width: vars.$breakpointDesktop) {
        font-size: 4rem;
      }
  }

  .area_walks_list {

    @media(min-width: vars.$breakpointTablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .area_walk_small {
      text-align: center;
      border: 1px solid black;
      border-radius: 10px;
      padding: 1rem;
      margin : 1rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;

      @media(min-width: vars.$breakpointTablet) {
        width: 45%;
      }

      @media(min-width: vars.$breakpointXLarge) {
        width: 29%;
      }

      .area_walk_title {
        font-size: 1.3rem;
        color: vars.$darkYellow;
        padding: 0.5rem;
      }

      .area_walk_date {
        font-style: italic;
        color: vars.$regularGreen;
        padding: 0.5rem;   
      }

      .area_walk_difficulty {
        padding: 0.5rem;
      }

      .area_walk_duration {
        padding: 0.5rem;
      }

      .area_walk_more_infos {
        padding: 0.5rem;
        
        &:hover {
          color: vars.$regularRed;
          font-weight: bold;
          transform: scale(1.2);
        }
      }
    }
  }
}
