@use 'src/styles/vars';

.area {
  background: linear-gradient(vars.$lightYellow, white);
  margin-top: -3px;
  min-height: 100vh;
  
  .area_home_return {
    width: 90px;
    padding: 15px;
    transform: rotateY(180deg);
  }
  .area_name {
      text-align: center;
      color: vars.$darkRed;
      font-size: 2rem;
      font-weight: bold;
      padding: 1rem;
  
      @media(min-width: vars.$breakpointTablet) {
        font-size: 3rem;
      }
  
      @media(min-width: vars.$breakpointDesktop) {
        font-size: 4rem;
      }
  }

  .area_walks {
      text-align: center;
      color: vars.$regularYellow;
      font-size: 1.2rem;
      padding: 2rem;
  
      @media(min-width: vars.$breakpointTablet) {
        font-size: 2.2rem;
      }
  
      @media(min-width: vars.$breakpointDesktop) {
        font-size: 3.2rem;
      }

      .area_numberOfWalks {
        font-weight: bold;
      }
  }
  
  .area_walks_list {

    @media(min-width: vars.$breakpointTablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .area_walk_small {
      text-align: center;
      border-radius: 10px;
      padding: 1rem;
      margin : 1rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      background :linear-gradient(to bottom right, vars.$darkYellow, #fbc46d);

      @media(min-width: vars.$breakpointTablet) {
        width: 45%;
      }

      @media(min-width: vars.$breakpointXLarge) {
        width: 29%;
      }

      .area_walk_title {
        font-size: 1.7rem;
        font-weight: bold;
        color: white;
        padding: 0.5rem;
      }

      .area_walk_date {
        font-style: italic;
        font-weight: bold;
        color: vars.$darkGreen;
        padding: 0.5rem;   
      }

      .area_walk_difficulty {
        padding: 0.5rem;
        color: #6B3431;
        font-weight: bold;
      }

      .area_walk_duration {
        padding: 0.5rem;
        color: #6B3431;
        font-weight: bold;
      }

      .area_walk_more_infos {
        background-color: #da9f41;
        border-radius: 10px;
        padding: 0.5rem;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-bottom: 1rem;
        color: white;
        font-weight: bold;
        
        &:hover {
          box-shadow: 0px 5px 5px vars.$darkYellow;
          transform: scale(1.1);
        }
      }

      .area_walk_creator {
        background-color: vars.$regularGreen;
        border-radius: 10px;
        padding: 0.5rem;
        margin-left: 4rem;
        margin-right: 4rem;
        color: vars.$blackRed;
        font-weight: bold;

        .area_walk_creator_picture {
          width: 40px;
        }
      }
    }
  }

  .area_add_walk_button {
    padding: 1rem;
    background-color: vars.$regularGreen;
    font-weight: bold;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    display: block;
    width: 90%;
    margin: auto;

    @media(min-width: vars.$breakpointTablet) {
     width: 60%;
    }
    

    &:hover {
      box-shadow: 5px 5px 5px vars.$darkGreen;
      transform: scale(1.1);
    }
  }
}
