@use 'src/styles/vars';

//some ajustement to do about header height and header_image margin-top
//think about media queries to ipad and desktop
//maybe change the picture of header (crop or not) because too height and very
//difficult to play with the breakpoint (title move)

.header {
  position: relative;
  
  .header_image {
    width: 100%;
    max-height: 550px;  
  }

  .header_content {
    position: absolute;
    top:0;
    left: 0;
    right: 0;

    .header_top {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      margin: 2%;

      .header_logo {
        width: 15%;
        border-radius: 50%;
        background-color: vars.$lightYellow;
        opacity: 0.7;

        @media(min-width: vars.$breakpointTablet) {
          width: 20%;
        }
      
        @media(min-width: vars.$breakpointDesktop) {
          width: 40%;
        }
      }

      .header_nav {
        display: none;
        background-color: vars.$darkRed;
        border-radius: 30px;
        padding: 0.5rem;

        @media(min-width: vars.$breakpointTablet) {
          display: flex;
          font-weight: bold;
        }

        .header_nav_item {
          color: white;
          padding-right: 1rem;
          display: flex;
          align-items: center;

          &:hover {
            transform: scale(1.1);
          }

          .header_nav_home_logo {
            width: 30px;
          }

          .header_nav_create_logo {
            width: 25px;
          }

          .header_nav_home_connect {
            width: 25px;
          }

          .header_nav_home_avatar {
            width: 25px;
          }

          .header_nav_home_disconnect {
            width: 30px;
          }
        }

      }
    }
    
    .header_title {
      font-size: 4em;
      font-weight: bold;
      color: vars.$darkYellow;
      text-align: center;
      padding: 1rem 0 1rem 0;
      text-shadow: 0.1em 0.1em 0.2em black;
  

      @media(min-width: vars.$breakpointTablet) {
        font-size: 6em;
      }

      @media(min-width: vars.$breakpointDesktop) {
        font-size: 9em;
      }

      @media(min-width: vars.$breakpointXLarge) {
        font-size: 12em;
      }
    }
  }
  
 

}
