@use 'src/styles/vars';

//some ajustement to do about header height and header_image margin-top
//think about media queries to ipad and desktop
//maybe change the picture of header (crop or not) because too height and very
//difficult to play with the breakpoint (title move)

.header {
  position: relative;
  height: 300px;
  overflow: hidden;

  @media(min-width: vars.$breakpointTablet) {
    height: 400px;
  }

  @media(min-width: vars.$breakpointDesktop) {
    height: 700px;
  }

  .header_image {
    width: 100%;
    margin-top: -20px;

    @media(min-width: vars.$breakpointTablet) {
      margin-top: -50px;
    }

    @media(min-width: vars.$breakpointDesktop) {
      margin-top: -500px;
    }
  }

  .header_content {
    position: absolute;
    top:0;
    left: 0;
    right: 0;

    .header_top {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      margin: 3%;

      .header_logo {
        width: 15%;
        border-radius: 50%;
        background-color: vars.$lightYellow;
        opacity: 0.7;
      }

      .header_nav {
        display: none;

        @media(min-width: vars.$breakpointTablet) {
          display: flex;
          font-weight: bold;
        }

        .header_nav_item {
          color: vars.$darkRed;
          padding-right: 1rem;

          &:hover {
            transform: scale(1.2);
          }
        }

      }
    }

    
    
    .header_title {
      font-size: 3em;
      color: vars.$darkYellow;
      text-align: center;

      @media(min-width: vars.$breakpointTablet) {
        font-size: 6em;
      }

      @media(min-width: vars.$breakpointDesktop) {
        font-size: 9em;
      }

      @media(min-width: vars.$breakpointXLarge) {
        font-size: 12em;
      }
    }
  }
  
 

}
