@use 'src/styles/vars';

.contactUs {
  background: linear-gradient(vars.$lightYellow, white);
  color: vars.$blackRed;
  margin-top: -15px;
  min-height: 100vh;

  .contactUs_home_return {
    width: 90px;
    padding: 15px;
    transform: rotateY(180deg);
  }

  .contactUs_title {
    background: linear-gradient(to bottom right, vars.$regularYellow, vars.$darkYellow);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    width: 90%;

    @media(min-width: vars.$breakpointTablet) {
      width: 60%;
    }

    .contactUs_contact_logo {
      width: 50px;
    }

    .contactUs_title_text {
      color: white;
      font-weight: bold;
      padding: 0.5rem;
      font-size: 2rem;
    }
  }

  .contactUs_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .contactUs_button {
      color: white;
      font-weight: bold;
      padding: 1rem;
      border: none;
      border-radius: 10px;
      background: linear-gradient(to bottom right, vars.$regularYellow, vars.$darkYellow);
      width: 90%;
  
      &:hover {
        box-shadow: 5px 5px 5px vars.$darkYellow;
        transform: scale(1.1);
      }

      @media(min-width: vars.$breakpointTablet) {
        width: 60%;
      }
    }
  }
  
}
