@use 'src/styles/vars';

.archived {
  background: linear-gradient(#fee5e3, #fff);
  margin-top: -15px;
  min-height: 100vh;
  padding: 15px;

  .archived_return_account {
    width: 90px;
    padding: 15px;
    transform: rotateY(180deg);
  }


  .archived_title_content {
    text-align: center;
    color: vars.$darkRed;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;

    .archived_icon {
      width: 50px;

      @media(min-width: vars.$breakpointTablet) {
        width: 80px;
      }
    }
    .archived_title {
      
  
      
    }
    @media(min-width: vars.$breakpointTablet) {
      font-size: 3rem;
    }

    @media(min-width: vars.$breakpointDesktop) {
      font-size: 4rem;
    }

  }

  

  .archived_infos_list {
    @media(min-width: vars.$breakpointTablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  

  .archived_infos {
    min-height: 280px;
    text-align: center;
    background: linear-gradient(to bottom right, #6b3431, #e1645f);
    border-radius: 10px;
    padding: 1rem;
    margin : 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  
        @media(min-width: vars.$breakpointTablet) {
          width: 45%;
        }
  
        @media(min-width: vars.$breakpointXLarge) {
          width: 29%;
        }

  .archived_infos_title {
    font-size: 1.7rem;
    color: white;
    padding: 0.5rem;
    font-weight: bold;
  }

  .archived_infos_area {
    padding: 10px;
    color: vars.$regularRed;
  }

  .archived_infos_date {
    padding: 10px;
    color: vars.$regularGreen;
  }

  .archived_infos_time {
    padding: 10px;
    color: vars.$blackRed;
    
  }

  .archived_infos_level {
    padding: 0.5rem;
    color: white;
  }

  .archived_infos_button {
    padding: 0.5rem;
    background-color: vars.$darkRed;
    border: none;
    border-radius: 10px;
    color: vars.$blackRed;
    min-width: 60%;
    margin: auto;

    &:hover {
      box-shadow: 5px 5px 5px vars.$blackRed;
      transform: scale(1.1);
    }
    }
  }
}
}
