@use 'src/styles/vars';

.footer {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  background-color: vars.$regularGreen;
  border-radius: 10px;
  
  padding: 1rem;
  margin: 20px auto 100px auto;

  @media(min-width: vars.$breakpointTablet) {
    width: 100%;
    font-size: 1.3rem;
    margin-bottom: 0;
    
  }
  .icon {
    width: 50px;
  }
  
  .footer_link {
    color: vars.$darkYellow;
    
  }
    
    .footer_instructions_link {
      display: block;
      text-align: center;
      margin: 5px;
     
      
    }
    .footer_informations_link {
      display: block;
      text-align: center;
      margin: 5px;
      
    }
    .footer_contact_link {
      display: block;
      text-align: center;
      margin: 5px;
    
    }
  }
