@use 'src/styles/vars';

.walk {
  margin: 10px;

  .walk_title {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    margin: 10px;
    width: 50%;
    margin: auto;
    color: vars.$darkRed;
  }

  .walk_starting_point {
    padding: 1rem;
  }

  .walk_end_point {
    padding: 1rem;
  }

  .walk_date {
    padding: 1rem;
  }

  .walk_difficulty {
    padding: 1rem;
  }

  .walk_duration {
    padding: 1rem;
  }

  .walk_elevation {
    padding: 1rem;
  }

  .walk_maxNbPersons {
    padding: 1rem;
  }

  .walk_area {
    padding: 1rem;
  }
  .walk_description {
    padding: 1rem;
  }

  .walk-links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .walk_button_edit {
        padding: 1rem;
      }

      .walk_contact_link {
        padding: 1rem;
      }

      .walk_moreInfos_button {
        margin-bottom: 10px;
        margin-right: 10px;
        padding: 1rem;
        background-color: vars.$regularRed;
        border: none;
        border-radius: 10px;
      }
    }
}
