@use 'src/styles/vars';

.page {
  margin: 10px;

  .page-title {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    margin: 10px;
    width: 50%;
    margin: auto;
    color: vars.$darkRed;

    @media(min-width: vars.$breakpointTablet) {
    }
    
  }

  .description {


    .page-links {
      margin: 10px;
      display: flex;
      justify-content: space-between;

      .button-page {
        margin-bottom: 10px;
        margin-right: 10px;
        padding: 1rem;
        background-color: vars.$regularRed;
        border: none;
        border-radius: 10px;
      }
  
      .link {
        margin: 10px ;
      }
    }
  }

  p {
    margin: 10px;
    padding: 20px;
  }
  .post-page {
    padding: 20px;
    
  }

  .button-comment {
    margin: 20px;
  }

  .comment {
    display: block;
    justify-content: space-around;
    margin-left: 20px;

    .comment-icons {
      margin: 10px;
      padding: 20px;
      width: 0.5rem;

    }
    
  }
  .post-comment {
    padding-top: 40px;
    padding-bottom: 5px;
    padding-left: 2px;
  }
  .write-comment {
    border: grey solid 1px;
    padding-bottom: 100px;
  }

 
}
