@use 'src/styles/vars';

.walk {
  background: linear-gradient(vars.$lightYellow, white);
  margin-top: -3px;
  min-height: 100vh;
  color: vars.$blackRed;

  .walk_title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    color: vars.$darkRed;

    @media(min-width: vars.$breakpointTablet) {
      font-size: 3rem;
    }

    @media(min-width: vars.$breakpointDesktop) {
      font-size: 4rem;
    }
  }

  .walk_area {
    padding: 1rem;
    color: vars.$regularRed;
    font-style: italic;
    text-align: center;
  }

  .walk_date {
    padding: 1rem;
    text-align: center;
    color: vars.$darkGreen;
    font-style: italic;
  }

  .walk_tags_list {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .walk_tag_purple {
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: #7319d5;
      color: white;
      border-radius: 10px;
    }

    .walk_tag_blue {
      margin: 0.5rem;
      padding: 0.5rem;
      background-color:#3bcee7;
      color: white;
      border-radius: 10px;
    }

    .walk_tag_grey {
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: grey;
      color: white;
      border-radius: 10px;
    }

    .walk_tag_orange {
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: #e49424;
      color: white;
      border-radius: 10px;
    }

    .walk_tag_brown {
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: #65210b;
      color: white;
      border-radius: 10px;
    }

    .walk_tag_corail {
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: #f09584;
      color: white;
      border-radius: 10px;
    }

    .walk_tag_dark-blue {
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: #090d54;
      color: white;
      border-radius: 10px;
    }
  }

  .walk_starting_point {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to bottom right, vars.$darkYellow, vars.$gradientYellow);
    box-shadow: 0px 5px 5px vars.$darkYellow;
    padding: 0.5rem;
    margin: 1rem;
    
    @media(min-width: vars.$breakpointTablet) {
      width: 70%;
      margin: 1rem auto;
    }

    .walk_starting_point_icon {
      width: 10%;
      height: 10%;

      @media(min-width: vars.$breakpointDesktop) {
        width: 5%;
        height: 5%;
      }
    }

    .walk_starting_point_text {
      padding-left: 0.5rem;
     }
  }

  .walk_end_point {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to bottom right, vars.$darkYellow, vars.$gradientYellow);
    box-shadow: 0px 5px 5px vars.$darkYellow;
    padding: 0.5rem;
    margin: 1rem;

    @media(min-width: vars.$breakpointTablet) {
      width: 70%;
      margin: 1rem auto;
    }

    .walk_end_point_icon {
      width: 10%;
      height: 10%;
  
      @media(min-width: vars.$breakpointDesktop) {
        width: 5%;
        height: 5%;
      }
    }

    .walk_end_point_text {
      padding-left: 0.5rem;
     }
  }

  .walk_distance {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to bottom right, vars.$darkYellow, vars.$gradientYellow);
    box-shadow: 0px 5px 5px vars.$darkYellow;
    padding: 0.5rem;
    margin: 1rem;

    @media(min-width: vars.$breakpointTablet) {
      width: 70%;
      margin: 1rem auto;
    }

    .walk_distance_icon {
      width: 10%;
      height: 10%;
  
      @media(min-width: vars.$breakpointDesktop) {
        width: 5%;
        height: 5%;
      }
    }

    .walk_distance_text {
      padding-left: 0.5rem;
     }
  }

  .walk_difficulty {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to bottom right, vars.$darkYellow, vars.$gradientYellow);
    box-shadow: 0px 5px 5px vars.$darkYellow;
    padding: 0.5rem;
    margin: 1rem;

    @media(min-width: vars.$breakpointTablet) {
      width: 70%;
      margin: 1rem auto;
    }

    .walk_difficulty_icon {
      width: 10%;
      height: 10%;
  
      @media(min-width: vars.$breakpointDesktop) {
        width: 5%;
        height: 5%;
      }
    }

    .walk_difficulty_text {
      padding-left: 0.5rem;
     }
  }
  
  .walk_duration {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to bottom right, vars.$darkYellow, vars.$gradientYellow);
    box-shadow: 0px 5px 5px vars.$darkYellow;
    padding: 0.5rem;
    margin: 1rem;

    @media(min-width: vars.$breakpointTablet) {
      width: 70%;
      margin: 1rem auto;
    }

    .walk_duration_icon {
      width: 10%;
      height: 10%;
  
      @media(min-width: vars.$breakpointDesktop) {
        width: 5%;
        height: 5%;
      }
    }

    .walk_duration_text {
      padding-left: 0.5rem;
     }
  }

  .walk_elevation {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to bottom right, vars.$darkYellow, vars.$gradientYellow);
    box-shadow: 0px 5px 5px vars.$darkYellow;
    padding: 0.5rem;
    margin: 1rem;

    @media(min-width: vars.$breakpointTablet) {
      width: 70%;
      margin: 1rem auto;
    }

    .walk_elevation_icon {
      width: 10%;
      height: 10%;
  
      @media(min-width: vars.$breakpointDesktop) {
        width: 5%;
        height: 5%;
      }
    }

    .walk_elevation_text {
      padding-left: 0.5rem;
     }
  }

  .walk_nbPeople {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to bottom right, vars.$darkYellow, vars.$gradientYellow);
    box-shadow: 0px 5px 5px vars.$darkYellow;
    padding: 0.5rem;
    margin: 1rem;

    @media(min-width: vars.$breakpointTablet) {
      width: 70%;
      margin: 1rem auto;
    }

    .walk_nbPeople_icon {
      width: 10%;
      height: 10%;
  
      @media(min-width: vars.$breakpointDesktop) {
        width: 5%;
        height: 5%;
      }
    }

    .walk_nbPeople_text {
      padding-left: 0.5rem;
     }
  }

  .walk_description {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to bottom right, vars.$darkYellow, vars.$gradientYellow);
    box-shadow: 0px 5px 5px vars.$darkYellow;
    padding: 0.5rem;
    margin: 1rem;

    @media(min-width: vars.$breakpointTablet) {
      width: 70%;
      margin: 1rem auto;
    }

    .walk_description_icon {
      width: 10%;
      height: 10%;
  
      @media(min-width: vars.$breakpointDesktop) {
        width: 5%;
        height: 5%;
      }
    }

    .walk_description_text {
      padding-left: 0.5rem;
     }
  }
 
  .walk-links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      color: white;

      @media(min-width: vars.$breakpointDesktop) {
        flex-wrap: nowrap;
      }

      .walk_edit_link {
        text-align: center;
        margin: 0.5rem 1rem;
        width: 90%;

        @media(min-width: vars.$breakpointTablet) {
          width: 32%;
        }

        .walk_button_edit { 
          color: white;
          font-weight: bold;
          padding: 1rem;
          background-color: vars.$regularRed;
          border: none;
          border-radius: 10px;
          font-size: 1.1rem;
          
          &:hover {
            box-shadow: 5px 5px 5px vars.$darkRed;
            transform: scale(1.1);
          }
        } 
      }
      
      .walk_contact_link {  
        text-align: center;
        margin: 0.5rem 1rem;
        width: 90%;

     
        
        .walk_button_contact {
          color: white;
          font-weight: bold;
          padding: 1rem;
          background-color: vars.$regularGreen;
          border: none;
          border-radius: 10px;
          font-size: 1.1rem;
          
          &:hover {
            box-shadow: 5px 5px 5px vars.$darkGreen;
            transform: scale(1.1);
          }

          .walk_contact_link_nickname {
            color: vars.$blackRed;
          }
        }
      }

      .walk_participate_button {
        color: white;
        padding: 1rem;
        background-color: vars.$regularRed;
        border: none;
        border-radius: 10px;
        font-size: 1.1rem;
        font-weight: bold;
        width: 90%;
        margin: 0.5rem 1rem;
        text-align: center;

        &:hover {
          box-shadow: 5px 5px 5px vars.$darkRed;
          transform: scale(1.1);
        }

        @media(min-width: vars.$breakpointTablet) {
          width: 32%;
        }

  
      }
    }
}
