@use 'src/styles/vars';

.walk {
  margin: 10px;
  background-color: vars.$lightRed;

  .walk_title {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: vars.$darkRed;
  }

  .walk_area {
    padding: 1rem;
    color: vars.$regularRed;
    font-style: italic;
    text-align: center;
  }

  .walk_date {
    padding: 1rem;
    text-align: center;
    color: vars.$darkGreen;
    font-style: italic;
  }

  .walk_tags_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .walk_tag_purple {
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: #7319d5;
      color: white;
      border-radius: 10px;
    }

    .walk_tag_blue {
      margin: 0.5rem;
      padding: 0.5rem;
      background-color:#3bcee7;
      color: white;
      border-radius: 10px;
    }

    .walk_tag_grey {
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: grey;
      color: white;
      border-radius: 10px;
    }

    .walk_tag_orange {
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: #e49424;
      color: white;
      border-radius: 10px;
    }

    .walk_tag_brown {
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: #65210b;
      color: white;
      border-radius: 10px;
    }

    .walk_tag_corail {
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: #f09584;
      color: white;
      border-radius: 10px;
    }

    .walk_tag_dark-blue {
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: #090d54;
      color: white;
      border-radius: 10px;
    }
  }

  .walk_starting_point {
    padding: 1rem;
  }

  .walk_starting_icon {
    width: 3%;
    height: 3%;
    float: left;
    margin-right: 10px;
  }

  .walk_end_point {
    padding: 1rem;
  }

  .walk_endPoint_icon {
    width: 3%;
    height: 3%;
    float: left;
    margin-right: 10px;
  }


  .walk_difficulty {
    padding: 1rem;
  }

  .walk_difficulty_icon {
    width: 3%;
    height: 3%;
    float: left;
    margin-right: 10px;
  }

  .walk_duration {
    padding: 1rem;
  }

  .walk_duration_icon {
    width: 3%;
    height: 3%;
    float: left;
    margin-right: 10px;
  }

  .walk_elevation {
    padding: 1rem;

  }

  .walk_elevation_icon {
    width: 3%;
    height: 3%;
    float: left;
    margin-right: 10px;
  }

  .walk_maxNbPersons {
    padding: 1rem;
  }

  .walk_nbPersons_icon {
    width: 3%;
    height: 3%;
    float: left;
    margin-right: 10px;
  }

  .walk_description {
    padding: 1rem;
  }

  .walk_description_icon {
    width: 3%;
    height: 3%;
    float: left;
    margin-right: 10px;
  }

  .walk-links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .walk_edit_link {
        text-align: center;
        width: 100%;

        .walk_button_edit {
          color: white;
          font-size: 1.2rem;;
          margin-bottom: 10px;
          margin-right: 10px;
          padding: 1rem;
          background-color: vars.$regularRed;
          border: none;
          border-radius: 10px;

          &:hover {
            box-shadow: 5px 5px 5px vars.$darkRed;
            transform: scale(1.1);
          }
        } 
      }
      
      .walk_contact_link {
        padding: 1rem;
        color: vars.$regularGreen;

        &:hover {
          text-decoration: underline overline vars.$darkGreen;
          font-weight: bold;
        }
      }

      .walk_moreInfos_button {
        color: white;
        margin-bottom: 10px;
        margin-right: 10px;
        padding: 1rem;
        background-color: vars.$regularRed;
        border: none;
        border-radius: 10px;

        &:hover {
          box-shadow: 5px 5px 5px vars.$darkRed;
          transform: scale(1.1);
        }
      }
    }
}
