@use 'src/styles/vars';

.editWalk {
  color: vars.$blackRed;
  background: linear-gradient(vars.$lightGreen, white);
  margin-top: -15px;
  min-height: 100vh;
  

  .editWalk_title {
    background: linear-gradient(to bottom right, vars.$regularGreen, vars.$darkGreen);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    width: 90%;

    @media(min-width: vars.$breakpointDesktop) {
      width: 60%;
    }

    .editWalk_create_logo {
      width: 50px;
    }

    .editWalk_title_text {
      color: white;
      font-weight: bold;
      padding: 0.5rem;
      font-size: 2rem;
    }
  }

  .editWalk_asterisk {
    padding: 0.5rem;
    margin: 0 auto 1rem auto;
    width: 90%;

    @media(min-width: vars.$breakpointTablet) {
      width: 60%;
    }
  }

  .editWalk_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .editWalk_area {
      width: 100%; 
      margin-bottom: 1rem;
    }

    .editWalk_tag {
      margin: 0 auto 1rem auto;
      width: 90%;

      @media(min-width: vars.$breakpointTablet) {
        width: 60%;
      }

      .editWalk_tag_title {
        padding-bottom: 1rem;
      }

      .editWalk_tag_list {
        display: flex;
        flex-wrap: wrap;

        .editWalk_tag_label {
          width: 100%;
          padding: 0.2rem 0rem;
        }
      }
    }

    .editWalk_difficulty {
      width: 100%;
    }

    .editWalk_duration {
      width: 100%;
    }

    .editWalk_submit {
      width: 90%;
      color: white;
      font-weight: bold;
      padding: 1rem;
      border: none;
      border-radius: 10px;
      background: linear-gradient(to bottom right, vars.$regularYellow, vars.$darkYellow);

      @media(min-width: vars.$breakpointTablet) {
        width: 60%;
      }

      &:hover {
        box-shadow: 5px 5px 5px vars.$darkYellow;
        transform: scale(1.1);
      }
    }
  }
}
