@use 'src/styles/vars';


.howWorks {
  background: linear-gradient(#fff0da, #fff);
  margin-top: -15px;
  min-height: 100vh;
  padding: 15px;

  .howWorks_title_content {
    width: 70%;
    margin: 50px auto;
    border-radius: 10px;
    background: linear-gradient(to bottom right, vars.$darkYellow, #ffe1b6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
  

    .howWorks_title_icon {
      width: 60px;
      margin-right: 20px;
    }

    .howWorks_title {

    }
  }

  .howWorks_select-area {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1rem;
    padding: 1rem;

    .howWorks_select-area_text {
      display: flex;
      width: 100%;
      margin-bottom: 0.5rem;
      border-radius: 10px;
      align-items: center;
      border: 1px solid #ffd292;
      color: vars.$blackRed;
      padding: 1rem;
      
    }

    .howWorks_select-area_photo {
      width: 100%;
      border-radius: 10px;

    }
    
  }
}
